.view-detail {
  padding: 15px 0;
  border-top: 1px solid var(--weui-FG-3);
  width: 100%;
  text-align: center;
  font-size: 28px;
  color: #888888;

  .detail-text {
    margin-right: 10px;
  }
}

.weui-form-preview {
  margin-bottom: 30px;
}
